@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"].no-increment::-webkit-inner-spin-button,
input[type="number"].no-increment::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-increment {
  -moz-appearance: textfield;
  appearance: textfield;
}

.placeholder-background-image::before {
  content: "";
  background-image: var(--background-placeholder);
}
